{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}

<div id="app">
  <h1><a href="/">Index</a></h1>

  <ul>
    <li v-for="thread in threads"><a :href="'/t/'+thread.id">{{ thread.title }}</a></li>
  </ul>

  <input ref="thread_create_title" type="text" placeholder="title">
  <button @click="request('thread_create', {'title': $refs['thread_create_title'].value})">create new thread</button>

</div>

{% endblock %}

{% block scripts %}

<script>

var app = new Vue({
  el: '#app',
  data: {
    threads: %% threads|tojson %%,
  },
  methods: {
    request(path, data) {
      axios.post("/"+path, data)
      .then(function (response) {
        for (const [key, value] of Object.entries(response.data)) {
          app[key] = value
        }
      })
    },
  }
})

</script>

{% endblock %}
